$blue: blue;

#visualguide-dimmer {
  background: rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  position: absolute;
  z-index: 100000;
  top: 0;
  left: 0;
  transition-duration: 0.2s;
}

.visualguide-element {
  background: rgba($blue, 0.3);
  border: $blue 3px solid;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background: rgba($blue, 0.4)
  }
}
